/* body {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: center;
}

.interactivity {
    position: relative;
    top: auto;
    left: auto;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} */

.interactivity {
    display: flex;
    flex-direction: column;
}
.row-1 {
    padding: 6px 0;
    width: 600px;
    display: flex;
    justify-content: space-evenly;
}

.fps {
    display: flex;
    flex-direction: column;
}
.row-2 {
    width: 600px;
    display: flex;
    justify-content: space-evenly;
}